* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Roboto, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

#grafo {
    width: 100%;
    height: 45%;
    border: 1px solid lightgray;
}

#formulario {
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#formulario section {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#formulario div {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

label {
    display: inline-block;
    width: 100px;
    white-space: nowrap;
}

input[type=text] {
    width: 200px;
    margin-bottom: 10px;
}

select {
    width: 200px;
    margin-bottom: 10px;
}

button {
    width: 100px;
}